.hp-search {
  position: relative;
  overflow: hidden;
  background-color: black;
}

.hp-search,
.hp-search-front {
  height: 100vh;
  width: 100vw;
}

.hp-search-back {
  position: absolute;
  top: -5vh;
  left: -2.5vw;
  width: 105vw;
  height: 110vh;
  filter: blur(5px);
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  background-image: url('/images/hp-background-2.jpg')
}

.hp-search-front {
  position: absolute;
  z-index: 1;
}

.text-poiret {
  font-family: 'Poiret One', cursive;
}

.hp-login {
  height: 100vh;
}
